* {
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial, sans-serif;
  }
  
  #gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .gallery-img {
	width: 300px;
	height: 200px;
	margin: 10px;
	object-fit: cover;
  }
  
  #pagination {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  #prev-btn,
  #next-btn {
	font-size: 16px;
	padding: 10px 20px;
	margin: 0 10px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
  }
  
  #prev-btn:hover,
  #next-btn:hover {
	background-color: #f2f2f2;
  }
  
  .loading-placeholder {
	width: 300px;
	height: 200px;
	margin: 10px;
	background-color: #f2f2f2;
  }
  