
*.pyc
*.pth
*.py
*.txt
*.exe
myenv/Scripts/activate
*.ps1
*.bat
*.tmpl
myenv/Lib/site-packages/pip-22.0.4.dist-info/WHEEL
myenv/Lib/site-packages/pip-22.0.4.dist-info/INSTALLER
myenv/Lib/site-packages/pip-22.0.4.dist-info/METADATA
myenv/Lib/site-packages/pip-22.0.4.dist-info/RECORD
myenv/Lib/site-packages/pip-22.0.4.dist-info/REQUESTED
*.pem
*.cfg
*.typed
myenv/Lib/site-packages/setuptools-58.1.0.dist-info/INSTALLER
myenv/Lib/site-packages/setuptools-58.1.0.dist-info/LICENSE
myenv/Lib/site-packages/setuptools-58.1.0.dist-info/METADATA
myenv/Lib/site-packages/setuptools-58.1.0.dist-info/RECORD
myenv/Lib/site-packages/setuptools-58.1.0.dist-info/REQUESTED
myenv/Lib/site-packages/setuptools-58.1.0.dist-info/WHEEL
*.xml
