@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.image {
  width: 500px;
  height: 800px;
  margin: 10px;
  object-fit: cover;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prev-button,
.next-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50 !important;
  color: #fff !important;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.prev-button:hover,
.next-button:hover {
  background-color: #45a049;
}


.page-link {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.page-link:hover {
  background-color: #0056b3;
}

